#boxes {	display:block; }
#boxes,#filebox,#folders,#files,#imgManager,#imagebox,#imgPreview {padding:0; margin:0}
#filebox,#folders,#files,#imgManager {width:295px;}
#imagebox,#imgPreview {width:420px;}
#imagebox {margin-left:10px;}
#filebox,#imagebox,#imgPreview {height:360px;}
#files,#imgManager {height:330px;}
#folders {	height:30px;}
#imgPreview {
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
#filebox,#imagebox {float:left;}

#files,#imagebox {border:1px inset ButtonFace;}
#cropbox{
	display:none;
	position: absolute;
	border:2px solid #f00;
	width:415px;
	height:355px;
	padding:0;
	margin:0;
	cursor:crosshair;
	z-index:10000;
	background:url(blank.gif) repeat top left;
	
}
#imgPreview img {z-index:1}

#commands {display:table}




.cleaner	{
	clear: both;
	line-height: 0px;
	height: 0;
	margin: 0;
	padding: 0;
	font-size:0;
}









html, body {
  background: ButtonFace;
  color: ButtonText;
  font: 11px Tahoma,Verdana,sans-serif;
  margin: 0px;
  padding: 0px;
}
body { padding: 5px; }
table {
  font: 11px Tahoma,Verdana,sans-serif;
}
form p {
  margin-top: 5px;
  margin-bottom: 5px;
}

fieldset { padding: 0px 10px 5px 5px;  }
select, input, button { font: 11px Tahoma,Verdana,sans-serif; }
button { width: 70px; }
.space { padding: 2px; }

.title {
 	background: none; color: #000; font-weight: bold; font-size: 120%; padding: 3px 10px; margin-bottom: 10px;
	border-bottom: 1px solid black; letter-spacing: 2px;
}
form { padding: 0px; margin: 0px; }

.buttonHover {
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	cursor: hand;
}
.buttonOut {
	border: 1px solid ButtonFace;
}

.separator {
  position: relative;
  margin: 3px;
  border-left: 1px solid ButtonShadow;
  border-right: 1px solid ButtonHighlight;
  width: 0px;
  height: 16px;
  padding: 0px;
}

.statusLayer
{
	background:#FFFFFF;
	border: 1px solid #CCCCCC;
}
.statusText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #6699CC;
	text-decoration: none;
}
