html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.list {
	width:276px;
	margin:2px;
}
.f,.f_h,.fn,.fs,.del,.dn,.fld{margin:0; padding:0}
.f,.f_h{
	width:276px;
	height:16px;
	overflow:hidden;
	margin-bottom:2px;
}
.f {cursor: pointer;}
.f_h {
	background: #EEE;
	cursor: hand;
}	
.fn,.fs,.del,.dn,.fld {float:left; height:15px;overflow:hidden;}
.fn {width:200px;}
.fs {width:58px;text-align:right;margin-right:2px;}
.del {width:16px;}
.fld {width:20px;}
.dn {width:240px;}
.fn,.fs,.dn,.fld {
	padding-top:1px;
}